.box1red {
	height:250px;
	width: 250px;
	border: solid 1px red;
	background-color: red;

	position: relative;

	margin:30px;
	left:10px;
	top:10px; 
	

}

.cl-btn {
	height:50px;
	width:150px;
	border-radius: 10px;
	padding:20px;
}

.box2blue {
	height:150px;
	width: 150px;
	background-color: blue;
	border: solid 1px blue;
	margin:10px;
	position:absolute;
}

div.letters {
	border: dotted 4px green;
}